@media (max-width: 768px) {
  .cer-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    padding: 18px;
    gap: 8px;
    border-bottom: 2px solid #d6c08d;
  }
}
